/* Reset some default styling */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff; /* Ensure the text color is white */
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #fff;
}

/* Section styling */
section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Paragraph */
p {
    margin: 10px 0;
}

/* Styling for projects section */
#projects {
    margin-top: 20px;
}

/* Add any additional styles here */
.hidden {
    display: none;
}

/* Style for the toggle button */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

